body {
  background-color: #000;
  color: #fff;
}

.main {
  text-align: center;
}

img,
video {
  border: 1px solid white;
  margin: 0px 10px 10px 10px;
}

img:fullscreen {
  border: none;
  cursor: none;
}

canvas {
  border: 1px solid white;
  margin-top: 10px;
}

input {
  text-align: center;
  width: 120px;
}

table {
  margin: auto;
}

th,
td {
  border: 1px solid white;
  padding: 5px;
  font-family: monospace;
  font-size: 20px;
}

th {
  width: 200px;
}

th {
  font-weight: bold;
  color: black;
  background-color: #ccc;
}

#ok {
  color: #0f0;
}

#tooDark {
  color: #00f;
}

#tooBright {
  color: #f00;
}

a:visited {
  color: white;
}

#replaySlider {
  margin: 0px 50px 0px 50px;
}
